@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* scrollbar styles */
  body::-webkit-scrollbar {
    width: 0.4rem;
  }

  body::-webkit-scrollbar-track {
    background-color: #e5fd99;
  }

  body::-webkit-scrollbar-thumb {
    background-color: #1d4c43;
    border-radius: 10px;
  }
}

@layer components {
  .file {
    opacity: 0;
    width: 0.1px;
    height: 0.1px;
    position: absolute;
  }

  .file-label {
    display: block;
    margin-inline: auto;
    width: 200px;
    text-align: center;
    padding-inline: 1.5rem;
    padding-block: 1rem;
    border-radius: 1.5rem;
    background-color: theme(colors.secondary);
    color: theme(colors.primary);
    font-weight: bold;
    cursor: pointer;
    transition: all 0.5s;
  }

  .file-label:hover {
    box-shadow: none;
  }
}

.remove-scroll::-webkit-scrollbar {
  width: 0.4rem;
}

/* applied to active link (route) */
.active {
  color: theme(colors.primary);
  background-color: theme(colors.secondary);
}

/* to hide the attribution */
.leaflet-control-attribution {
  display: none;
}

/* to remove layer selection in map */
.leaflet-control-layers.leaflet-control {
  display: none;
}
